<div class="location-form">
  <%= form_tag locations_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= button_tag 'Import from CSV', class: 'btn btn-primary center-block' %>
  <% end %>
</div>
