<h1 class='text-center'>
  Import locations from CSV file.
</h1>

<div class="row text-center">
  <div class="col">
    <%= render 'form' %>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul class="list-group list-group-flush">
      <% @locations.each do |location| %>
        <li class="list-group-item"><%= link_to location.address, location %></li>
      <% end %>
    </ul>
  </div>
</div>
