<div class="row">
  <div class="col">
    <% flash.each do |key, value| %>
      <div class="alert <%= alert_class_for(key) %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul class="nobullets" >
          <li><%= value.html_safe %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
